<form [formGroup]="changePasswordForm" (submit)="changePassword()" autocomplete="off">
  <div class="modal-header">
    <h5 class="modal-title">Alterar senha do usuário</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="senhaAtual">Senha Atual</label>
      <input type="password" id="senhaAtual" name="senhaAtual"
        formControlName="senhaAtual" class="form-control" autofocus>

      <app-message-error
        [control]="changePasswordForm.get('senhaAtual')" 
        error="required" 
        text="Informe a senha atual.">
      </app-message-error>
    </div>

    <div class="form-group">
      <label for="novaSenhaDoUsuario">Nova Senha</label>
      <input type="password" id="novaSenha" name="novaSenha"
        formControlName="novaSenha" class="form-control">

      <app-message-error
        [control]="changePasswordForm.get('novaSenha')" 
        error="required" 
        text="Informe a nova senha.">
      </app-message-error>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-dark">Alterar senha</button>
  </div>  
</form>