<p-card header="Empréstimos Pendentes">
  <p-table [value]="(emprestimos$ | async)" [scrollable]="true" dataKey="idSaida">

    <ng-template pTemplate="header">
      <tr>
        <th class="col-expand"></th>
        <th>Data</th>
        <th>Usuário</th>
        <th>Observação</th>
        <th class="col-aprovar"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-emprestimo let-expanded="expanded">
      <tr>
        <td class="col-expand">
          <a href="" [pRowToggler]="emprestimo" style="color: black;">
            <span [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></span>
          </a>
        </td>
        <td>{{ emprestimo.data | date:'dd/MM/y' }}</td>
        <td>{{ emprestimo.usuario.nome }}</td>
        <td>{{ emprestimo.observacao }}</td>
        <td class="col-aprovar">
          <button pButton (click)="updateEmprestimo(false, emprestimo.idSaida)"
            pTooltip="Reprovar" tooltipPosition="top" icon="pi pi-times" style="width: 32px;">
          </button>
          <button pButton (click)="updateEmprestimo(true, emprestimo.idSaida)"
            pTooltip="Aprovar" tooltipPosition="top" icon="pi pi-check" class="ml-1" style="width: 32px;">
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-emprestimo>
      <tr>
        <td [attr.colspan]="4">
          <tr class="p-grid">
            <th class="p-col-6 text-center">Equipamento</th>
            <th class="p-col-6 text-center">Quantidade</th>
          </tr>
          <tr *ngFor="let item of emprestimo.itens" class="p-grid">
            <td class="p-col-6 text-center">{{ item.equipamento.nome }}</td>
            <td class="p-col-6 text-center">{{ item.quantidade }}</td>
          </tr>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="4">Nenhum empréstimo pendente.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>