<div class="row">
  <div class="col-md-12">
    <p-card header="Meus Empréstimos">
      <p-table #tableMeusEmprestimos
        [value]="meusEmprestimos"
        styleClass="p-2"
        [responsive]="true"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        (onLazyLoad)="loadLazy($event)"
        dataKey="idSaida">

        <ng-template pTemplate="header">
          <tr>
            <th class="col-expand"></th>
            <th>Data</th>
            <th>Finalidade</th>
            <th>Situação</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-emprestimo let-expanded="expanded">
          <tr>
            <td class="col-expand">
              <a href=""
                [pRowToggler]="emprestimo"
                style="color: black;">
                <span [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></span>
              </a>
            </td>
            <td>{{ emprestimo.data | date:'dd/MM/y' }}</td>
            <td>{{ emprestimo.finalidadeSaida | finalidadeSaida }}</td>
            <td>
              <span [ngClass]="getBadgeClass(emprestimo.situacao)">
                {{ emprestimo.situacao | situacaoSaida }}
              </span>
            </td>
            <td class="col-acoes">
              <button pButton
                (click)="exibirEmprestimo(emprestimo.idSaida)"
                icon="pi pi-sign-in"
                style="width: 32px;"
                pTooltip="Visualizar"
                tooltipPosition="top">
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-emprestimo>
          <tr>
            <td [attr.colspan]="5">
              <tr class="p-grid">
                <th class="p-col-6 text-center">Equipamento</th>
                <th class="p-col-6 text-center">Quantidade</th>
              </tr>
              <tr *ngFor="let item of emprestimo.itens" class="p-grid">
                <td class="p-col-6 text-center">{{ item.equipamento.nome }}</td>
                <td class="p-col-6 text-center">{{ item.quantidade }}</td>
              </tr>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="5">Nenhum empréstimo cadastrado.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
