<div class="container">
  <div class="mt-2">
    <div class="p-grid pt-2 pb-2">
      <div class="p-col-12">
        <h3 class="font-weight">Usuários</h3>
      </div>
    </div>

    <div class="separador"></div>

    <app-usuarios-filtro (onPesquisarUsuarios)="onPesquisarUsuarios($event)" (onCadastrarUsuario)="onCadastrarUsuario($event)"></app-usuarios-filtro>
  </div>

  <div class="mt-3 mb-3">
    <app-usuarios-tabela [usuarios]="usuarios" (onLazyLoad)="onLazyLoad($event)"></app-usuarios-tabela>
  </div>  
</div>

<p-dialog header="Cadastro de Usuário" [(visible)]="showDialog" [responsive]="true" 
  [closable]="true" [modal]="true" showEffect="fade" [style]="{width: '500px'}">

  <form [formGroup]="formUsuario" (submit)="salvarUsuario()">
    <div class="p-col-12">
      <label for="nome">Nome</label>
      <input pInputText type="text" id="nome" name="nome"
        formControlName="nome" class="form-control" autofocus>

      <app-message-error 
        [control]="formUsuario.get('nome')" error="required" 
        text="Informe o nome do usuário.">
      </app-message-error>

      <app-message-error
        [control]="formUsuario.get('nome')" 
        error="minlength" 
        text="Informe no mínimo {{ formUsuario.get('nome').errors?.minlength?.requiredLength }} caracteres.">
      </app-message-error>
    </div>

    <div class="p-col-12">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" formControlName="email" class="form-control">

      <app-message-error 
        [control]="formUsuario.get('email')"
        error="required" text="Informe o e-mail do usuário.">
      </app-message-error>
      
      <app-message-error 
        [control]="formUsuario.get('email')" 
        error="email" 
        text="Informe um e-mail válido.">
      </app-message-error>

      <app-message-error 
        [control]="formUsuario.get('email')" 
        error="maxlength" 
        text="Informe no máximo {{ formUsuario.get('email').errors?.maxlength?.requiredLength }} caracteres.">
      </app-message-error>

      <app-message-error 
        [control]="formUsuario.get('email')" 
        error="existe" 
        text="E-mail já cadastrado.">
      </app-message-error>
    </div>

    <div class="p-col-12">
      <label for="nrora">Número RA</label>
      <input type="number" id="nrora" name="nrora" formControlName="nrora" class="form-control">
    </div>

    <div class="p-col-12">
      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" formControlName="senha" class="form-control">

      <app-message-error
        [control]="formUsuario.get('senha')"
        error="required"
        text="Informe a senha do usuário.">
      </app-message-error>
    </div>


    <div class="p-col-12">
      <p-radioButton name="permissao" formControlName="permissao" [value]="getValueAluno()" label="Aluno"></p-radioButton>
      <p-radioButton name="permissao" formControlName="permissao" [value]="getValueLaboratorista()" label="Laboratorista" class="ml-2"></p-radioButton>
      <p-radioButton name="permissao" formControlName="permissao" [value]="getValueAdmin()" label="Administrador" class="ml-2"></p-radioButton>
      <p-radioButton name="permissao" formControlName="permissao" [value]="getValueProfessor()" label="Professor" class="ml-2"></p-radioButton>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix p-2">
        <button pButton type="submit" icon="fa fa-check" class="button-rigth" label="Salvar" 
          [disabled]="formUsuario.invalid || formUsuario.pending"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>
