<div class="container">
  <div class="mt-2">
    <div class="p-grid pt-2 pb-2">
      <div class="p-col-12">
        <h3 class="font-weight">Usuários</h3>
      </div>
    </div>

    <div class="separador"></div>
    <app-usuarios-filtro (onPesquisarUsuarios)="onPesquisarUsuarios($event)" (onCadastrarUsuario)="onCadastrarUsuario($event)"></app-usuarios-filtro>
  </div>

  <div class="mt-3 mb-3">
    <app-usuarios-tabela [usuarios]="usuarios" (onLazyLoad)="onLazyLoad($event)"></app-usuarios-tabela>
  </div>  
</div>
