<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="javascript:;" [routerLink]="['']"><img src="assets/img/logo-utfpr-branca.png" width="100" height="40" alt="UTFPR"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#menugeral" aria-controls="menugeral" aria-expanded="false"
    aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse px-3 py-1" id="menugeral">
    <ul class="navbar-nav mr-auto">
      <li [appUserRole]="['ROLE_LABORATORISTA', 'ROLE_ADMIN']" class="nav-item dropdown">
        <a href="javascript:;" class="nav-link dropdown-toggle text-light" id="dropdownCadastros" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownCadastros">
          <a class="dropdown-item" [routerLink]="['fornecedores']">Fornecedores</a>
          <a class="dropdown-item" [routerLink]="['equipamentos']">Equipamentos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a href="javascript:;" class="nav-link dropdown-toggle text-light" id="dropdownMovimentacoes" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movimentações
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMovimentacoes">
          <a [appUserRole]="['ROLE_LABORATORISTA', 'ROLE_ADMIN']" class="dropdown-item" [routerLink]="['entradas']">Entradas</a>
          <a [appUserRole]="['ROLE_LABORATORISTA', 'ROLE_ADMIN']" class="dropdown-item" [routerLink]="['emprestimos']">Empréstimos</a>
          <a [appUserRole]="['ROLE_ALUNO', 'ROLE_PROFESSOR']" class="dropdown-item" [routerLink]="['emprestimos', 'novo']">Novo Empréstimo</a>
          <a [appUserRole]="['ROLE_LABORATORISTA', 'ROLE_ADMIN']" class="dropdown-item" [routerLink]="['baixas-estoque']">Baixas de Estoque</a>
        </div>
      </li>

      <li [appUserRole]="['ROLE_LABORATORISTA', 'ROLE_ADMIN']" class="nav-item dropdown">
        <a href="javascript:;" class="nav-link dropdown-toggle text-light" id="dropdownRelatorios" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatórios
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownRelatorios">
          <a class="dropdown-item" [routerLink]="['ficha-de-estoque']">
            Ficha de Estoque
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a href="javascript:;" class="nav-link dropdown-toggle text-light" id="dropdownAdmin" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administração
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownAdmin">
          <a [appUserRole]="['ROLE_LABORATORISTA', 'ROLE_ADMIN']" class="dropdown-item" [routerLink]="['usuarios']">Usuários</a>
          <a class="dropdown-item" href="#changePassword" data-target="#changePassword" data-keyboard="true" data-toggle="modal">
            Alterar senha do usuário
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- modal alterar senha -->
<div class="modal fade" id="changePassword" name="changePassword" tabindex="-1" role="dialog"
  aria-labelledby="titleChangePassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="changePasswordForm" (submit)="changePassword()" autocomplete="off">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titleChangePassword">Alterar senha do usuário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="senhaAtual">Senha Atual</label>
            <input type="password" id="senhaAtual" name="senhaAtual"
              formControlName="senhaAtual" class="form-control" autofocus>

            <app-message-error
              [control]="changePasswordForm.get('senhaAtual')" error="required" text="Informe a senha atual.">
            </app-message-error>
          </div>

          <div class="form-group">
            <label for="novaSenhaDoUsuario">Nova Senha</label>
            <input type="password" id="novaSenha" name="novaSenha"
              formControlName="novaSenha" class="form-control">

            <app-message-error
              [control]="changePasswordForm.get('novaSenha')" error="required" text="Informe a nova senha.">
            </app-message-error>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-dark">Alterar senha</button>
        </div>
      </div>
    </form>
  </div>
</div>